---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {%- if page.menu -%}
      {% include {{ page.menu }} html=content %}
    {%- endif -%}

    <p class="post-meta post-meta-title">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span>
          </span>{% if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {%- if page.show_reading_time != false -%}
        • {% include reading_time.html -%}
      {%- endif -%}
    </p>

    <h1>{{ page.title | escape }}</h1>

    {%- if page.description -%}
      <p class="page-description">{{ page.description }}</p>
    {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.toc -%}
      {% include toc.html html=content %}
    {%- endif -%}

    {{ content }}

    {%- if page.assignment -%}
      {% include lesson-submission-form.html %}
    {%- endif -%}
  </div>

  {%- if page.comments -%}
    {%- include utterances.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>